.container{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5px;
  height:100vh;
}

.container button{
  border:none;
  outline:none;
  padding:10px 15px;
  color:white;
  cursor:pointer;
  font-size:20px;
  border-radius:4px;
}

button.minus{
  background-color:red;
}

button.plus{
  background-color: blue;
}

.container p{
  padding:25px 7px 7px;
   
}

button:disabled{
  opacity:0.6;
  cursor:not-allowed;
  background-color: grey;
}

button:hover{
  border:2px solid violet;
}